.App {
  text-align: center;
  background-color: #91E5F6;
  margin: 0px;
}

nav {
  background-color: #84D2F6;
}

html { 
  background-color: aquamarine;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.article-card {
  text-align: left;
}

ul {
  list-style-type: none;
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
}